/* StockList.css */

.stock-list {
  padding: 20px;
  margin-left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stock-btn {
  margin: 0 10px;
}

.stock-name {
  font-size: 18px;
  font-weight: bold;
}

.stocks-grid {
  display: flex;
  flex-direction: column;
}

.stock-details {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
